@import("fonts/Montserrat/fonts/Montserrat.css");
html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 960px;
  margin: 30px auto 120px auto;
  min-width: 350px;
  min-height: 350px;
  background-color: #121237;
  color: #c0c000;
  font-size: 0.9em;
  font-family: 'Montserrat', sans;
  font-weight: 400;
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.275);
  width: calc(100% - 4em);
  position: relative;
  background: url('img/bg_back.png') repeat scroll center center #000;
}

p, h1, h2, h3, h4, h5, h6, span {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, span, textarea, input {
  text-shadow: 2px 0px 1px rgba(0,0,0, 0.5);
}

.clearfix {
  clear: both;
}

.background {
  background: url('img/bg.png') repeat -15px -15px #333;
  box-shadow: 0px 0px 14px 14px rgba(0,0,0, 0.23);
  border: 2px solid #88a;
  border-radius: 8px;
  position: absolute;
  top: -24px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: -1;
}

.headline {
  width: 100%;
  clear: both;
  margin-top: 2em;
}

button {
  color: #ff8;
  cursor: pointer;
  padding: 1em 2em;
  margin: 0px;
  margin-top: 2em;
  margin-bottom: 3em;
  background-color: rgba(0,0,0,0.5);
  /*box-shadow: 2px 0px 8px rgba(255,255,0,0.6);*/
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

input,
textarea {
  margin: 0px;
  border-radius: 8px;
  padding: 1em 2em;
  border: 2px solid #666;
  background-color: rgba(0,0,0,0.115);
  color: #ffff00;
  text-shadow: 1px 1px 0px rgba(0,0,0, 0.475);
  /*box-shadow: 2px 0px 8px rgba(255,255,0,0.6);*/
}

textarea {
  background-color: rgba(0,0,0,0.55);
}

.headline {
  margin-bottom: 0.5em;
  padding: 0em 1em;
  width: calc(100% - 2em);
}


#uploadArea input {
  color: #ff8;
  cursor: pointer;
  margin: 0px;
  border: 2px solid #666;
  background-color: rgba(0,0,0,0.3);
  /*box-shadow: 2px 0px 8px rgba(255,255,0,0.6);*/
  border-radius: 8px;
  width: calc(100% - 5em);
  margin-left: 1em;
}

#uploadArea textarea {
  margin: 0em 1em;
  width: calc(100% - 3.3em);
  border: 2px solid #666;
  background-color: rgba(0,0,0,0.5);
}

#uploadArea button,
#clearUploadButton  {
  float: right;
  clear: both;
}

#uploadListLocal,
#uploadListRemote {
  clear: both;
  list-style: none;
  border: 2px solid #666;
  background-color: rgba(0,0,0,0.3);
  padding: 0px;
  margin: 0px;
  margin-left: 1em;
  border-radius: 8px;
  margin-top: 2em;
}

#uploadListLocal li,
#uploadListRemote li {
  border-radius: 0px;
  width: calc(100% - 2.2em);
  display: flex;
  padding: 1em;
  border: 2px solid #444;
  background-color: rgba(0,0,0,0.1);
  text-shadow: 1px 1px 0px rgba(0,0,0, 0.475);
}

#uploadListLocal li:last-of-type,
#uploadListRemote li:last-of-type {
  border-radius: 0px 0px 8px 8px;
}

#uploadListLocal li:first-of-type,
#uploadListRemote li:first-of-type {
  border: 2px solid #666;
  background-color: rgba(0,0,0,0.3);
  border-radius: 8px 8px 0px 0px;
}

#uploadListLocal li span,
#uploadListRemote li span {
  font-size: 0.75em;
  flex: 1 1;
}

#uploadListLocal li span:nth-of-type(1),
#uploadListRemote li span:nth-of-type(1) {
  font-size: 0.75em;
  flex: 2 1;
}

#clearUploadButton {
  margin-bottom: 8em;
}

#apikey,
#uploadRemoteInput,
#uploadCurrentFile,
#uploadProgressPercent,
#uploadProgressFiles,
#uploadDetails,
#uploadLog {
  clear: both;
  width: calc(100% - 3em);
  margin: 0.5em 1em;
  font-style: italic;
  border: none;
  border-radius: 8px;
  padding: 1.3em 1em;
  resize: none;
  border: 2px solid #666;
  background-color: rgba(0,0,0,0.5);
  color: #ffff00;
  text-shadow: 2px 0px 1px rgba(255,255,255, 0.4);
}


#apikey {
  margin-bottom: 4em;
  background-color: rgba(0,0,0,0.45);
}

#uploadRemoteInput,
#uploadDetails,
#uploadLog {
  height: 150px;
  width: calc(100% - 3em);
  font-size: 1em;
}

#uploadLog {
  min-height: 150px;
  font-style: normal;
  font-size: 1em;
}

*::placeholder {
  font-style: italic;
  color: #ffff00;
  text-shadow: 1px 1px 0px rgba(0,0,0, 0.475);
}

