html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 960px;
  margin: 30px auto 120px auto;
  min-width: 350px;
  min-height: 350px;
  background-color: #121237;
  color: #c0c000;
  font-size: 0.9em;
  font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.175);
  width: calc(100% - 4em);
  position: relative;
}

p, h1, h2, h3, h4, h5, h6, span {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, span, textarea {
  text-shadow: 2px 0px 1px rgba(0,0,0, 0.4);
}

.clearfix {
  clear: both;
}

.background {
  background: url('img/bg.png') repeat scroll center center transparent;
  box-shadow: 0px 0px 19px 19px rgba(0,0,0, 0.2);
  border: 2px solid #88a;
  border-radius: 8px;
  position: absolute;
  top: -24px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: -1;
}

.headline {
  width: 100%;
  clear: both;
  margin-top: 2em;
}

button {
  color: #ff8;
  cursor: pointer;
  padding: 1em 2em;
  margin: 0px;
  margin-top: 2em;
  margin-bottom: 3em;
  background-color: rgba(34,34,68,0.84);
  /*box-shadow: 2px 0px 8px rgba(255,255,0,0.6);*/
  border-radius: 8px;
}

input,
textarea {
  margin: 0px;
  border-radius: 8px;
  /*border: 2px solid #c8bc4b;*/
  background-color: rgba(34,34,68,0.84);
  padding: 1em 2em;
  /*box-shadow: 2px 0px 8px rgba(255,255,0,0.6);*/
}

.headline {
  margin-bottom: 0.5em;
  padding: 0em 1em;
  width: calc(100% - 2em);
}


#uploadArea input {
  color: #ff8;
  cursor: pointer;
  margin: 0px;
  background-color: rgba(34,34,68,0.84);
  /*box-shadow: 2px 0px 8px rgba(255,255,0,0.6);*/
  border-radius: 8px;
  width: calc(100% - 5em);
  margin-left: 1em;
}

#uploadArea textarea {
  margin: 0em 1em;
  width: calc(100% - 3em);
}

#uploadArea button,
#clearUploadButton  {
  float: right;
  clear: both;
}

#uploadListLocal,
#uploadListRemote {
  clear: both;
  list-style: none;
  background-color: rgba(34,34,68,0.84);
  padding: 0px;
  margin: 0px;
  margin-left: 1em;
  border-radius: 8px;
  margin-top: 2em;
}

#uploadListLocal li,
#uploadListRemote li {
  border-radius: 8px;
  width: calc(100% - 2em);
  display: flex;
  padding: 1em;
}

#uploadListLocal li:first-of-type,
#uploadListRemote li:first-of-type {
  background-color: #337;
  border-radius: 8px 8px 0px 0px;
}

#uploadListLocal li span,
#uploadListRemote li span {
  font-size: 0.75em;
  flex: 1 1;
}

#uploadListLocal li span:nth-of-type(1),
#uploadListRemote li span:nth-of-type(1) {
  font-size: 0.75em;
  flex: 2 1;
}

#clearUploadButton {
  margin-bottom: 8em;
}

#apikey,
#uploadRemoteInput,
#uploadCurrentFile,
#uploadProgressPercent,
#uploadProgressFiles,
#uploadDetails,
#uploadLog {
  clear: both;
  width: calc(100% - 3em);
  margin: 0.5em 1em;
  font-style: italic;
  border: none;
  border-radius: 8px;
  padding: 1.3em 1em;
  resize: none;
  /*border: 2px solid #c8bc4b;*/
  background-color: rgba(34,34,68,0.91);
  color: #ffc;
  text-shadow: 2px 0px 1px rgba(255,255,255, 0.4);
}


#apikey {
  margin-bottom: 4em;

}

#uploadRemoteInput,
#uploadDetails,
#uploadLog {
  height: 150px;
  width: calc(100% - 3em);
  font-size: 1em;
}

#uploadLog {
  min-height: 150px;
  font-style: normal;
  font-size: 1em;
}

*::placeholder {
  font-style: italic;
}

